*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height:100vh;
    background-color: #ccc3c3;
}
.paginationBar{
    margin: 10px;
    position: relative;
    width: 100%;
    bottom:0;
}